<form [formGroup]="telephone" (ngSubmit)="onSubmit()">

  <h3>Formulaire</h3>

  <!-- Field Modèle du téléphone - libelle -->
  <mat-form-field>
    <input matInput formControlName='libelle' placeholder="Modèle du téléphone" />

    <mat-error *ngIf="libelle.invalid && libelle.errors?.minlength">
      Le nom saisie est trop court.
    </mat-error>

    <mat-error *ngIf="libelle.invalid && libelle.errors?.required">
      Le nom doit être saisie.
    </mat-error>
  </mat-form-field>
  <hr class="no-bar">

  <!-- Field email de l'utilisateur - email -->
  <mat-form-field>
    <input matInput formControlName='email' placeholder="Email" />

    <mat-error *ngIf="email.invalid && email.errors?.email">
      Le format de l'email est invalide.
    </mat-error>

    <mat-error *ngIf="email.invalid && email.errors?.required">
      L'email doit être saisie.
    </mat-error>
  </mat-form-field>
  <hr class="no-bar">

  <!-- Field prix du téléphone - prix -->
  <mat-form-field>
    <input matInput formControlName='prix' placeholder="Prix"/>
    <p>{{ prix | currency : 'EUR' }}<p>

    <button class="center-button" type="submit"><!--(click)="{{ telephone.prix | toDollars }}"-->Transformer en Dollars</button>
    <!--{{ telephone.prix | toDollars }}-->

    <mat-error *ngIf="prix.invalid && prix.errors?.pattern">
      Le prix saisie doit être un nombre.
    </mat-error>

    <mat-error *ngIf="prix.invalid && prix.errors?.prixRange">
      Le prix saisie doit être compris entre 10€ et 1 000€.
    </mat-error>
  </mat-form-field>
  <hr class="no-bar">

  <button mat-raised-button class="center-button" type="submit" [disabled]="telephone.invalid">Enregistrer</button>
</form>

<br>
<hr>

<!-- Retour saisies formulaire -->
<p class="font-weight-bold">Test Return Forms : </p>
<p>Infos saisies : {{ telephone.value | json }}</p>
